<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
  <h3>{{moduleTitle}}</h3>
</div>

<!-- <div id="circle"></div> -->

<!-- <div *ngIf="sample.items">
  <div *ngFor="let n of sample.items">{{n}}</div>
</div> -->

<button id="button">Get Movies</button>
<div id="output"></div>